.wrapper
  = render 'shared/side_bar'
  .chat
    .chat-header
      .group
        .group__title Sampleグループ
        .group__menber-lists
          %ul
            %li.group__menber-lists__list Member：
            %li.group__menber-lists__list menber1
            %li.group__menber-lists__list menber2
            %li.group__menber-lists__list menber3
      .group-edit-button Edit
    .chat-messages
      = render @messages
    .chat-form
      = form_for [@group, @message] do |f|
        .form-group
          = f.text_field :content, class: 'form-group form-group__input', placeholder: 'type a message'
          = f.label :image, class: 'form-img' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'



